.Home {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

img.selfImage {
  height: 500px;
  margin: 0 5%;
  border: 1px solid black;
}

.selfDescription {
  display: flex;
  margin-bottom: 30px;
}

.infoDesc {
  display: flex;
  flex-direction: column;
  margin-right: 20%;
}

.pageDescription {
  display: flex;
  flex-direction: column;
}

.infoDesc p {
  text-align: left;
}

.infoDesc p {
  text-align: left;
}

.pageDescription p {
  margin: 0 auto;
  text-align: left;
  width: 400px;
}
