.NavBar {
  margin-bottom: 20px;
}

.SiteName {
  text-align: center;
  margin: 0 auto;
}

.ActiveNav {
  width: fit-content;
  right: 0;
  top: 0;
  position: absolute;
}

.Nav {
  display: none;
}

.hamburger-react {
  position: fixed !important;
  z-index: 3;
  top: 20px;
  right: 20px;
}

h1 {
  font-family: 'Libre Franklin', sans-serif;
}
