.NavBar {
  margin-bottom: 20px;
}

/* Put styling for container here */
.ActiveNav {
  display: flex;
}

.Nav {
  display: none;
}

.hamburger-react {
  position: fixed !important;
  z-index: 3;
  top: 20px;
  right: 20px;
}
