.NavBar {
  margin-bottom: 20px;
}

a.navLink {
  color: black;
  margin: auto 2em;
  text-decoration: none;
}

a.navLink:hover {
  color: red;
}

.hamburger-react {
  position: fixed !important;
  top: 20px !important;
  right: 20px !important;
}
