p {
  margin: 0 auto;
}

.InnerInfo {
  display: flex;
  justify-content: center;
}

#ptagSkill {
  border-bottom: 1px solid black;
}

.ptagSkills {
  text-align: right;
}

.ProjectDescription {
  margin-bottom: 20px;
}

a.ProjectLink {
  color: black;
  display: block;
  text-align: left;
  text-decoration: none;
}
