.Project {
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.ProjectTop {
  width: 500px;
}

p.ProjectDescription {
  text-align: left;
}

.ProjectImage {
  height: 120px;
}

a.ProjectLink {
  color: black;
  display: block;
  text-align: left;
  text-decoration: none;
}

a.ProjectLink:hover {
  color: red;
}

.InnerInfo {
  display: flex;
  padding-bottom: 5px;
  /* Needs better separator than this eventually */
  border-bottom: 1px solid black;
}

#ptagSkill {
  font-weight: bold;
}

.ptagSkills {
  margin: 0 5px 0 0;
  text-align: right;
}

.skillsDeveloped {
  width: 250px;
}

#LinkDesc {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.HelpfulLinks {
  text-align: left;
  margin-left: 5px;
  width: 250px;
}
