p {
  margin: 0 auto;
}

.InnerInfo {
  display: flex;
  justify-content: center;
}

#ptagSkill {
  font-weight: bold;
}

.ptagSkills {
  text-align: right;
}

.ProjectDescription {
  margin-bottom: 10px;
}

.HelpfulLinks {
  margin-left: 5px;
  width: 250px;
}

.skillsDeveloped {
  margin-right: 5px;
  width: 250px;
}

.ProjectImage {
  width: 500px;
}

a.ProjectLink {
  color: black;
  display: block;
  text-align: left;
  text-decoration: none;
}

a.ProjectLink:hover {
  color: red;
}

h4 {
  margin: 0 0 5px 0;
}

h2 {
  margin: 40px 0 5px 0;
}
